@tailwind base;
@tailwind components;
@tailwind utilities;



.connection{
    justify-items: center;
    text-align: center;
    padding-bottom: 1rem;
}

.messageContent{
    background-color: rgb(28, 230, 109);
    width: fit-content;
    border-top-right-radius: 1rem; /* 8px */
    border-bottom-right-radius: 1rem; /* 8px */
    border-bottom-left-radius: 1rem; /* 8px */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.nameDisplay{
    padding-top: 1rem;
    padding-bottom: 0.25rem;
}

.stickerChat{
    width: 320px;
    aspect-ratio: square;
}

.ownMessageContent{
    background-color: rgb(178, 239, 202);
    width: fit-content;
    border-top-left-radius: 1rem; /* 8px */
    border-bottom-right-radius: 1rem; /* 8px */
    border-bottom-left-radius: 1rem; /* 8px */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    align-self: flex-end; 
    text-align: right; 
}

.ownNameDisplay{
    padding-top: 1rem;
    padding-bottom: 0.25rem;
    text-align: right; 
}

.ownStickerChat{
    width: 320px;
    aspect-ratio: square;
    align-self: flex-end; 
}